body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-areas:
    'intro intro'
    'bread protein toppings'
    'images images'


}


.bread {
    grid-area: bread;
}


.protein {
    grid-area: protein;
} 

.toppings {
    grid-area: toppings;
}


.images {
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    grid-area: images;  
}

img { 
    width:auto;
    height: 150px;

}
